<header class="app-header navbar">
  <button type="button" appsidebartoggler="" ng-reflect-breakpoint="" class="d-lg-none navbar-toggler">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" ng-reflect-router-link="/dashboard" href="#/dashboard">
    <img ng-reflect-app-html-attr="[object Object]" ng-reflect-ng-class="navbar-brand-full" src="assets/img/brand/logo.svg" width="89" height="25" alt="CoreUI Logo" class="navbar-brand-full">
    <img ng-reflect-app-html-attr="[object Object]" ng-reflect-ng-class="navbar-brand-minimized" src="assets/img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo" class="navbar-brand-minimized">
  </a>
  <button type="button" class="d-lg-block d-none navbar-toggler" ng-reflect-breakpoint="lg">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="nav navbar-nav d-md-down-none">
      <li class="nav-item px-3">
        <a href="#" class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item px-3">
        <a href="#" class="nav-link">Users</a>
      </li>
      <li class="nav-item px-3">
        <a href="#" class="nav-link">Settings</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item d-md-down-none">
        <a href="#" class="nav-link"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
      </li>
      <li class="nav-item d-md-down-none">
        <a href="#" class="nav-link"><i class="icon-list"></i></a>
      </li>
      <li class="nav-item d-md-down-none">
        <a href="#" class="nav-link"><i class="icon-location-pin"></i></a>
      </li>
      <li dropdown="" placement="bottom right" class="nav-item dropdown" ng-reflect-placement="bottom right">
        <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" dropdowntoggle="" class="nav-link">
          <img src="assets/img/avatars/6.jpg" alt="admin@bootstrapmaster.com" class="img-avatar">
        </a>
        <!--container-->
      </li>
    </ul>
  <button type="button" class="d-lg-block d-none navbar-toggler" ng-reflect-breakpoint="lg"><span class="navbar-toggler-icon"></span></button>
  <button type="button" appasidemenutoggler="" ng-reflect-breakpoint="" class="d-lg-none navbar-toggler"><span class="navbar-toggler-icon"></span></button>
  </header>
